<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rian</title>
</head>
<body>
    <main>
        <h1>Bem-vindo, {{ username }}.</h1>
        <table>
            <thead>
                <th>Nome</th>
                <th>Idade</th>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient["name"] }}</td>
                    <td>{{ patient["age"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/logoff">Sair</a>
    </main>
</body>
</html>