<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rian</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="username">LOGIN</label>
        <input type="text" name="username" id="username">
        <label for="password">SENHA</label>
        <input type="password" name="password" id="password">
        <label for="password">CONFIRMAR SENHA</label>
        <input type="password" name="confirmpassword" id="confirmpassword">
        <button type="submit">CADASTRAR</button>
        <p class="error">{{ message }}</p>
        <p>Já tem uma conta? <span><a href="/login">Entre aqui.</a></span></p>
    </form>
</body>
</html>